https://php.889664.xyz {
root * /var/www/html
file_server

header {
    X-Robots-Tag none
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer-when-downgrade
}
}

http://php.889664.xyz {
  redir https://{host}{uri}
}
